/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

header{
  line-height: normal;
  font-size: 17px;
  font-family: 'Roboto';
}

body{
  background: #2A0934;
  height: 1100px;
  font-family: 'Roboto';
  font-size: 17px;
  line-height: normal;
}
.profile{
  color: #8601AF;
  text-align: center;
  background: #E3F7D4;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  width: 800px;
  height: 350px;
  margin-left: 28%;
  display: inline-block;
}
.profile_portrait{
  float: left;
  width: 350px;
  margin-right: 40px;
  border-radius: 50%;
}
a:before{
  color: none;
}
a:visited{
  color: none;
}
a:hover{
  cursor: pointer;
  text-decoration: none;
}
a:active{
  color: #66B032;
}
footer{
  text-align: center;
  background-color: inherit;
  font-family: 'Roboto';
  line-height: inherit;
  font-size: 17px;
  line-height: normal;
  color: #66B032;
}
.page-header{
  background-position: center;
  margin-left: 32%;
  margin-right: 35%;
border-radius: 100px;
}
.page-header__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 200px;
          flex: 0 1 200px;
  font-size: 20px;
  border-radius: 50px;
  margin-left: 2%;
  font-family: inherit;
}
.info{
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 20px 1fr 20px 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}
.info_item{
  background: #E3F7D4;
  color: 	#8601AF;
}
.button {
  border: none;
  display: inline-block;
  font-family: inherit;
  background-color: #8601AF;
  color: black;
  padding: 10px;
  border-radius: 100px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  -webkit-transition: 0.9s opacity;
  -o-transition: 0.9s opacity;
  transition: 0.9s opacity;
}
button {
  border: none;
  display: inline-block;
  font-family: inherit;
  background-color: #8601AF;
  color: black;
  padding: 10px;
  border-radius: 100px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  -webkit-transition: 0.9s opacity;
  -o-transition: 0.9s opacity;
  transition: 0.9s opacity;
}
button:hover{
  background-color: #66B032;
}

.page-footer{
  clear: both;
}
.Intro{
text-align: left;
}
.page-header__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 200px;
          flex: 0 1 200px;
  font-size: 20px;
  border: none;
  display: inline-block;
  font-family: inherit;
}
.page-header__item:last-child {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  text-align: right;
}

.grid{
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 20px 1fr 20px 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}
.grid_item{
  background: #E3F7D4;
  color: #8601AF;
}
div {
  padding: 10px;
  margin: 10px;
  border: 1px solid black;
}
.social-media{
  -ms-flex-preferred-size: 200px;
      flex-basis: 200px;
}
.navigation-list{
  list-style-type: none;
}
.navigation-list li{
  display: inline-block;
  margin-left: 15px;
}
#header_name{
  font-size: 40px;
}
@media all and (max-width: 500px) {
  .grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}
@media all and (min-width: 500px) and (max-width: 750px){
  .grid {
    -ms-grid-columns: 1fr 20px 1fr;
    grid-template-columns: 1fr 1fr;
  }
}
@media all and (max-width: 750px) {
  .grid {
    grid-gap: 10px;
  }
  .grid__item:last-child {
    grid-column: auto / auto;
    grid-row: auto / auto;
  }
h1 {
    font-size: 22px;
    color: #E3F7D4
  }
}

@-webkit-keyframes color-change {
  0% {
    fill: #edc655;
  }
  50% {
    fill: #fcffad;
  }
  100% {
    fill: #f76414;
  }
}

@keyframes color-change {
  0% {
    fill: #edc655;
  }
  50% {
    fill: #fcffad;
  }
  100% {
    fill: #f76414;
  }
}
.main-navigation_page-header{
  padding: 2px;
  margin-right: 41%;
  margin-left: 41%;
}
.main-navigation{
  background: white;
}
.contact-body{
  background-color: #E3F7D4;
  color: #8601AF;
}
